@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");


.educationSection {
  max-width: 1440px;
  background-color: #07070a;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.educationContainer {
  margin-top: 60px;
  margin-bottom: 60px;
  width: 80%;
  /* background-color: #24272b; */
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}

.nombreSeccion {
  width: 80%;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: #3e78b2;
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.formacion {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.henry {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #24272b;
  border-radius: 20px;
  padding: 30px;
}

.henry2 {
  display: flex;
  flex-direction: column;
}


.henryImgCointainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
  width: 50%;
}

.henryImg {
  width: 100%;
}

.nombreCurso {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  color: white;
}

.nombreTitulo {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  color: white;
}

.duracion {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: white;
}

.certificado {
  width: 100%;
  height: 50px;
  color: #dad7cd;
  border-radius: 10px;
  border: 2px solid #3e78b2;
  background-color: #24272b;
  font-size: 14px;
  font-family: "Kdam Thmor Pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.certificado:hover {
  transform: scale(1.1);
}



@media (max-width: 1024px) {
  
  .nombreCurso{
    font-size: 35px;
  }
  
  .nombreTitulo {
    font-size: 28px;
  }

  .duracion{
    font-size: 20px;
  }

  }


  @media (max-width: 768px) {
  
    .nombreCurso{
      font-size: 28px;
    }
    
    .nombreTitulo {
      font-size: 18px;
    }
  
    .duracion{
      font-size: 16px;
    }
  
    .henry{
      padding: 20px;
    }

    .certificado{
      height: 30px;
    }

    }


    @media (max-width: 700px) {
      .nombreCurso{
        font-size: 24px;
      }
      
      .nombreTitulo {
        font-size: 16px;
      }
    
      
    
      .henry{
        padding: 16px;
      }
  
      .certificado{
        height: 30px;
      }
  
      
  
      }


      @media (max-width: 425px) {
        .nombreCurso{
          font-size: 16px;
        }
        
        .nombreTitulo {
          font-size: 10px;
        }
      
        
      
        .henry{
          padding: 12px;
        }
    
        .certificado{
          height: 20px;

          font-size: 10px;
        }
    
        .nombreSeccion{
          font-size: 20px;
        }

        .educationContainer{
          margin-top: 30px;
          margin-bottom: 30px;
        }
    
        }
  
