@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap");

.sectionProyect {
  width: 100vw;
  background-color: #0b090a;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  padding-top: 200px;
  padding-bottom: 50px;
}

.proyectsContainer {
  max-width: 1440px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 120px;
}

.titlesContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.firstTitle {
  width: 100%;
  font-size: 76px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  color: white;
}

.subTitle {
  width: 100%;
  font-size: 18px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  color: white;
}

.allProyects {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.proyect {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 48px;
}

.img {
  width: 40%;
  border-radius: 15px;
  padding: 130px 20px;
  background-color: #1a1a1a;
}

.infoContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.proyectTitleContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.proyectTitle {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  color: white;
  font-size: 32px;
}

.proyectInfo {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 18px;
}

.secondInfoProyect {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 16px;
}

.date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 0;
  border-bottom: 1px solid white;
}

.buttonDemo {
  display: flex;
  justify-content: start;
  width: 33%;
  background-color: #0b090a;
  border: none;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  color: #d3e97a;
  font-size: 16px;
  padding: 0;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .proyectTitle {
    font-size: 28px;
  }

  .proyectInfo {
    font-size: 16px;
  }

  .secondInfoProyect {
    font-size: 14px;
  }

  .buttonDemo {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .sectionProyect{
    padding-top: 100px;
  }
  .firstTitle {
    font-size: 72px;
  }

  .proyectTitle {
    font-size: 22px;
  }

  .proyectInfo {
    font-size: 12px;
  }

  .secondInfoProyect {
    font-size: 10px;
  }

  .buttonDemo {
    font-size: 10px;
  }

  .img {
    padding: 120px 18px;
  }
}

@media (max-width: 425px) {
  .sectionProyect{
    padding-top: 50px;
  }
  .firstTitle {
    font-size: 43px;
  }

  .subTitle {
    font-size: 14px;
  }

  .proyectsContainer {
    width: 90%;
    gap: 50px
    ;
  }

  .proyect {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .proyectTitle {
    font-size: 24px;
  }

  .proyectInfo {
    font-size: 16px;
  }

  .secondInfoProyect {
    font-size: 16px;
  }

  .buttonDemo {
    font-size: 16px;
  }

  .infoContainer {
    width: 90%;
  }

  .img {
    width: 80%;
  }
}
