@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');


.sectionProyect {
  max-width: 1440px;
  background-color: #0b090a;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  padding-top: 200px;
  padding-bottom: 50px;
}

.proyectsContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 120px;
}

.titlesContainer{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.firstTitle {
  width: 100%;
  font-size: 76px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  color: white;
}

.subTitle{
  width: 100%;
  font-size: 18px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  color: white;
}


.allProyects {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.proyect {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 48px;
}


.img{
  width: 40%;
  border-radius: 15px;
  padding: 130px 20px;
  background-color: #1A1A1A;
}

.infoContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.proyectTitleContainer{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.proyectTitle{
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  color: white;
  font-size: 32px;
}

.proyectInfo{
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 18px;
}

.secondInfoProyect{
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 16px;
}

.date{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 0;
  border-bottom: 1px solid white;
}

.buttonDemo{
  display: flex;
  justify-content: start;
  width: 33%;
  background-color: #0b090a;
  border: none;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  color: #D3E97A;
  font-size: 16px;
  padding: 0;
}





@media (max-width: 700px) {

  .allProyects{
    gap: 25px;
  }

  .proyectTitle{
    font-size: 20px;
  }

  .proyectInfo{
    font-size: 12px;
  }

  .proyectTech{
    font-size: 12px;
    padding: 3px;
  }

  .firstTitle {
    font-size: 20px;
  }

  .proyect{
    padding: 8px;
  }

  }



  @media (max-width: 425px) {

    .proyectTitle{
      font-size: 14px;
    }
  
    .proyectInfo{
      font-size: 8px;
    }
  
    .proyectTech{
      font-size: 6px;
      padding: 2px;
    }
  
    .firstTitle {
      font-size: 20px;
    }
  
    .proyect{
      padding: 3px;
    }
  
    .proyectsContainer{
      margin-top: 30px;
      margin-bottom: 30px;
    }

    }
  
