@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap");

.sergioSection {
  width: 100vw;
  background-color: #0b090a;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.sergio {
  max-width: 1440px;
  width: 80%;
  background-color: #0b090a;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.perfilContainer {
  width: 50%;
  display: flex;
  justify-content: center;
}

.perfilFoto {
  width: 80%;
  border-radius: 16px;
}

.segioContainer {
  width: 50%;
  background-color: #0b090a;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 40px;
}

.nameContainer {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 101px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  color: white;
}

.bienvenido {
  font-size: 18px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  color: white;
}

.contactButton {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

a {
  text-decoration: none;
}

.contactMe {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 54px;
  border-radius: 100px;
  padding: 20px 6px 20px 6px;
  background-color: #d3e97a;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  font-weight: 1000;
  color: black;
  cursor: pointer;
  border: none;
}

.linkedin {
  border: none;
  border-radius: 100px;
  background-color: #222222;
  color: #d3e97a;
  cursor: pointer;
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonImg {
  width: 26px;
  height: 26px;
}

@media (max-width: 1024px) {
  .name {
    font-size: 90px;
  }

  .bienvenido {
    font-size: 16px;
  }

  .contactMe {
    font-size: 14px;
    padding: 16px 4px 16px 4px;
  }

  .buttonImg {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .name {
    font-size: 72px;
  }

  .bienvenido {
    font-size: 12px;
  }

  .contactMe {
    font-size: 10px;
    padding: 12px 4px;
    height: 40px;
  }

  .buttonImg {
    width: 60%;
  }
}

@media (max-width: 425px) {

  .sergio {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  
  .segioContainer{
    width: 100%;
    gap: 25px;
  }

  .perfilContainer {
    width: 100%;
  }

  .perfilFoto {
    width: 100%;
    
  }

  .name {
    font-size: 57px;
  }

  .bienvenido {
    font-size: 16px;
  }

  .contactMe {
    font-size: 10px;
    padding: 12px 4px;
    height: 40px;
  }

  .buttonImg {
    width: 60%;
  }
}
