@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

.sergioSection {
  max-width: 1440px;
  background-color: #07070a;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sergio {
  width: 80%;
  background-color: #07070a;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.segioContainer {
  margin-top: 60px;
  margin-bottom: 60px;
  background-color: #07070a;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.nameContainer {
  /* height: 180px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.name {
  font-size: 80px;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #3e78b2;
}
.lastName {
  font-size: 80px;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #004ba8;
}
.bienvenido {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  font-style: normal;
  color: white;
}

.js,
.css,
.html,
.post,
.reactLogo,
.node {
  width: 16%;
  border-radius: 20px;
}

.logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 500px;
}

.aButton {
  width: 40%;
}

.buttonCv {
  height: 40px;
  width: 100%;
  color: #dad7cd;
  border-radius: 20px;
  background-color: #24272b;
  font-size: 14px;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.buttonCv:hover {
  transform: scale(1.1);
}

@media (max-width: 700px) {
  .name {
    font-size: 60px;
  }
  .lastName {
    font-size: 60px;
  }

  .bienvenido {
    font-size: 16px;
  }

  .js,
  .css,
  .html,
  .post,
  .reactLogo,
  .node {
    width: 14%;
  }

  .buttonCv {
    font-size: 12px;
  }
}


@media (max-width: 425px) {
  .name {
    font-size: 40px;
  }
  .lastName {
    font-size: 40px;
  }

  .bienvenido {
    font-size: 12px;
  }

  .js,
  .css,
  .html,
  .post,
  .reactLogo,
  .node {
    width: 12%;
  }

  .buttonCv {
    font-size: 8px;
  }

  .segioContainer{
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
