@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');

.sergioSection {
  max-width: 1440px;
  background-color: #0b090a;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.sergio {
  width: 80%;
  background-color: #0b090a;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.perfilContainer{
  width: 50%;
  display: flex;
  justify-content: center;
}

.perfilFoto{
  width: 80%;
  border-radius: 16px;
}

.segioContainer {
  width: 50%;
  background-color: #0b090a;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 40px;
}

.nameContainer{
  display: flex;
  flex-direction: column;
}


.name {
  font-size: 101px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  color: white;
}

.bienvenido {
  font-size: 18px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  color: white;
}


.contactButton {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

a{
  text-decoration: none;
}

.contactMe{
  display: flex;
  align-items: center;
  height: 54px;
  border-radius: 100px;
  padding: 20px 6px 20px 6px;
  background-color:#D3E97A ;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  font-weight: 1000;
  color: black;
}

.linkedin{
  border-radius: 100px;
  background-color:#222222;
  color: #D3E97A;
}

.buttonImg{
  width: 80%;
}





