@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');


.sectionSkills{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #07070a;
}


.skillsContainer{
    width: 1200px;
    background-color: #07070a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skillsTitleContainer{
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    margin-bottom: 40px;
}

.skillsTitle{
    font-family: "Kdam Thmor Pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #3e78b2;
    font-size: 80px;
}

.lenguajesContainer{
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}


.techTitle{
    font-family: "Kdam Thmor Pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 35px;
}


.techLogos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-bottom: 20px;
}


.idiomasContainer{
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px;
}


.idiomasTitle{
    font-family: "Kdam Thmor Pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 35px;
}

.espIng{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.fig,
.vsc,
.thu,
.boot,
.node2,
.reactLogo2,
.js2,
.css2,
.html2{
    width: 100px;
    border-radius: 30px;
    border: 2px solid #004ba8;
}

.espIng{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.españolTitleImg{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.español,
.ingles{
    font-family: "Kdam Thmor Pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 25px;
    text-align: center;
}


.españolImg,
.inglesImg{
    width: 50px;
}