@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

.sectionSkills {
  max-width: 1440px;
  background-color: #07070a;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skillsContainer {
  margin-top: 60px;
  margin-bottom: 60px;
  width: 80%;
  background-color: #24272b;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}



.skillsTitle {
  width: 80%;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #3e78b2;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.lenguajesContainer {
  margin-top: 35px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.techLogos {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.subContainer{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.idiomasContainer {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}



.espIng {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fig,
.vsc,
.thu,
.boot,
.node2,
.reactLogo2,
.js2,
.css2,
.html2 {
  width: 8%;
  border-radius: 30px;
}

.espIng {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.españolTitleImg {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.español,
.ingles {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 15px;
  text-align: center;
}

.españolImg,
.inglesImg {
  width: 32%;
}
