@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap");

.aboutSection {
  max-width: 1440px;
  background-color: #0b090a;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 250px;
  padding-bottom: 50px;
}

.aboutContainer {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
}

.title {
  width: 50%;
  font-size: 101px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  color: white;
}

.secondContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.descriptionContainerContact {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contactDescription {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.underline {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.description {
  font-size: 24px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  color: white;
}

.secondDescription {
  font-size: 24px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  color: white;
  border-bottom: 1px solid #d3e97a;
}

.redes {
  font-size: 24px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  color: white;
}

.redesContainer {
  width: 80%;
  display: flex;
  flex-direction: row;
}

.redesImg {
  width: 100%;
}

.logo {
  width: 100%;
}

@media (max-width: 1024px) {
  .title {
    font-size: 90px;
  }

  .description {
    font-size: 18px;
  }
  .secondDescription {
    font-size: 18px;
  }

  .redes {
    font-size: 18px;
  }
  .logo {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .aboutSection {
    padding-top: 100px;
  }
  .title {
    font-size: 62px;
  }

  .description {
    font-size: 13px;
  }

  .secondDescription {
    font-size: 13px;
  }

  .redes {
    font-size: 13px;
  }
  .logo {
    width: 60%;
  }
}

@media (max-width: 425px) {
  .aboutSection{
    padding-top: 50px;
  }
  .aboutContainer{
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  .title{
    width: 100%;
    font-size: 57px;
  }
  .descriptionContainerContact{
    width: 100%;
  }
  .description {
    font-size: 14px;
  }

  .secondDescription {
    font-size: 14px;
  }

  .redes {
    font-size: 14px;
  }
}

@media (max-width: 375px) {
  .description {
    font-size: 12px;
  }
  .secondDescription {
    font-size: 12px;
  }
  .redes {
    font-size: 12px;
  }
}

@media (max-width: 320px) {
  .description {
    font-size: 12px;
  }
  .secondDescription {
    font-size: 12px;
  }
  .redes {
    font-size: 12px;
  }

}