@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


.sectionContact {
  max-width: 1440px;
  background-color: #24272b;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divContact {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #24272b;
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

}

.contactTitle{
  width: 80%;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.tituloContacto {
  width: 80%;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #3e78b2;
  font-size: 30px;
}

.logosContacto {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.logoContainer{
  width: 33%;
  display: flex;
  align-items: end;
}

.logo {
  width: 40%;
  cursor: pointer;
  border-radius: 30px;
}

.telefonoMail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-bottom: 15px;
}

.telefono {
  color: white;
  font-family: "Kdam Thmor Pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}


@media (max-width: 425px) {
  
  .contactTitle{
    font-size: 12px;
  }

  }
