@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');



.navbarSection{
    width: 100vw;
    background-color: #24272b;
    
}
.navContainer{
    background-color: #24272b;
    height: 80px;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    justify-content:center;
    align-items: center;
    position: fixed; 
    top: 0; 
    left: 0; 
    background-color: #24272b;
    z-index: 1000; 
}

.navButton{
    background-color: #24272b;
    border: 0px ;
    color: white;
    height: 65px;
    width: 230px;
    font-size: 17px;
    font-family: "Kdam Thmor Pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    transition: background-color 0.3s ease; 
    position: relative; 
    
}

.navButton:hover {
    background-color: #3e78b2;
}

.navButton:hover::after {
    content: ""; 
    position: absolute; 
    bottom: 0; 
    left: 0; 
    width: 100%; 
    height: 2px; 
    background-color: black; 
}